<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="body_wrapper">
      <h1>Guessing Game</h1>
      {{#errors}}
      <ul>
        <li>{{msg}}</li>
      </ul>
      {{/errors}}
      <!-- <p>{{theWord}}</p><br /> -->
      {{#dashes}}
      <span>{{.}}</span>
      {{/dashes}}
      <br><form class="" action="/" method="post">
        <br /><input type="text" name="guess" value="" autofocus>
        <button type="submit" name="button">Is this in it?</button>
      </form>
      <h2>You guessed:
      {{#userGuesses}}
       {{.}},
      {{/userGuesses}}</h2>
      <h2>Number of guesses left: {{count}}</h2>
        <h2>These were wrong:
      {{#userWrongGuesses}}
        {{.}}
      {{/userWrongGuesses}}
      </h2>
    </div
  </body>

</html>
