<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>Sorry...</title>
  </head>
  <body>
    <div class="body_wrapper">

    <h1>HAHAHAH YOU WILL NEVER KNOW WHAT THE WORD IS!</h1>
    <img src="./images/loss.jpg" alt="">
  </div>
  </body>
</html>
