<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>THE WINNNER!!!</title>
  </head>
  <body>
    <div class="body_wrapper">

    <h1>YOU'RE A WINNER!!! SO AWESOME! MUCH GOOD!</h1>
    <img src="./images/win.jpg" alt="">
  </div>
  </body>
</html>
